/* graphick-color settings */

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav {
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.header-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* block-model settings */

.header .container {
  display: flex;
  align-items: center;
  margin: 0 141px;
}

.header .logo {
  display: inline-flex;
  align-items: center;
  margin-right: 91px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .header-nav {
  display: flex;
  align-items: center;
}

.header .header-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 400px;
  padding-top: 24px;
  padding-bottom: 24px;

  list-style: none;
  margin: 0;
}

.header .adress {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
}
