/* graphick-color settings */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* block-model settings */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
}
